server {
    listen ${PORT};

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    error_page 404 /404.html;

    location / {
      root /www/owlficinas;
    }

    location /arquivos/ {
      add_header Content-Type text/plain;
      autoindex on;
      root /www;
    }
}
